<link rel="stylesheet" href="/css/user_forms.css" />



<section class="container forms">
    <div class="form login">
        <div class="form-content">
            <header>Reset - Password</header>
            <form action="" method="POST" name="Login_Form">              
                <div class="field input-field">
                    <input type="password" placeholder="Password" class="password"
                    name="password" required>
                         <i class="fa-regular fa-eye-slash eye-icon"></i>
                </div>
                
                <div class="field input-field">
                    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
                   
                </div>


                <div class="field button-field">
                    <input type="submit" value="Reset Password" class="btn btn-lg btn-primary btn-block">
                </div>
            </form>

        </div>

    </div>

 

</section>

