<div>
  <!-- template for sending mail, when an users clicked on reset password -->
  <p>Hi <%= user.name%>!</p>
  <br />
  <br />
  <p>Please fine below Link to reset your password</p>
  <strong> <%= user.link %> </strong>
  <br />
  <br />
  <p>Thanks!</p>

  <p>Have a great day ahead !!!</p>
</div>
